.logbody {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  background-color: #f3f3f3;
  flex-direction: column;
  margin: 0;
}

.main {
  background-color: #f3f3f3;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  transition: transform 0.2s;
  width: 500px;
  text-align: center;
}

.logh1 {
  color: #4c53af;
}

.loglabel {
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: left;
  color: #555;
  font-weight: bold;
}

.loginput {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.logbutton {
  padding: 15px;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  border: none;
  color: white;
  cursor: pointer;
  background-color: #3a435f;
  width: 100%;
  font-size: 16px;
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logh3 {
  font-weight: bold;
}

/*------------------*/

form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

form input,
form textarea {
  display: block;
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-group-flex {
  display: flex;
  align-items: center;
  gap: 10px;
}

.form-group-flex select,
.form-group-flex input,
.form-group-flex textarea {
  flex-grow: 1;
  min-width: 200px;
  height: calc(2.5rem + 2px);
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.btn-marca {
  height: calc(2.5rem + 2px);
  width: 120px;
  padding: 0 12px;
  font-size: 1rem;
  line-height: calc(2.5rem + 2px);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  white-space: nowrap;
}

/*-------------------------------------------*/
.card {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1) !important;
}

.card-img-top {
  object-position: center;
}