{% extends 'base.html' %}

{% block content %}
    <h2>Tu Carrito de Compras</h2>

    {% if items %}
        <table class="table">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                </tr>
            </thead>
            <tbody>
            {% for item in items %}
            <tr>
                <td>{{ item.nombre }}</td>
                <td>{{ item.cantidad }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        <!-- Botones agrupados -->
        <div class="d-flex gap-2 align-items-center">
            <a href="{% url 'vaciar_carrito' %}" class="btn btn-danger">Vaciar Carrito</a>
            <a href="{% url 'catalogoCompra' %}" class="btn btn-primary">Seguir comprando</a>
            <form action="{% url 'verPedido' %}" method="post" class="m-0">
                {% csrf_token %}
                <button type="submit" class="btn btn-success">
                    <i class="bi bi-cart-check"></i> Comprar
                </button>
            </form>
        </div>
    {% else %}
        <p>Tu carrito está vacío.</p>
    {% endif %}
{% endblock %}
